<!-- about-slid -->
<div class="about-w3slid">
    <div class="container">
        <h2>Capturing the best moments on film, while each time presenting a unique standpoint.</h2>
        <a href="#" data-toggle="modal" data-target="#myModal" class="agile-more">Read More</a>
    </div>
</div>
<!-- //about-slid -->
<!-- Tooltip -->
<div class="tooltip-content">
    <div class="modal fade features-modal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">passion</h4>
                </div>
                <div class="modal-body">
                    <img src="~/Assets/Images/1.jpg" class="img-responsive" alt="image">
                    <p>
                        Fusce et congue nibh, ut ullamcorper magna. Donec ac massa tincidunt, fringilla sapien vel, tempus massa. Vestibulum
                        felis leo, tincidunt sit amet tristique accumsan. In vitae dapibus metus. Donec nec massa non nulla mattis aliquam
                        egestas et mi.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //Tooltip -->
