<!-- about -->
<div class="jarallax w3ls-section w3-about" id="about">
    <div class="container">
        <div class="about-main">
            <div class="col-md-6 w3_agileits-ab-main">
                <h3 class="agileits-title">about me</h3>
                <h4>Iam Layne passionate about photography. </h4>
                <h5>you dream about your photo,will become true with me.</h5>
                <p class="about-text-w3l col-md-6">
                    Pellentesque accumsan cursus dui, sodales blandit urna sodal vitaepel entesque accumsan cursus dui,sod les blandit urna
                    urna sodales vitae pellentesque accumsan cursus dui, sodales blan urna sodales vitae pellentesque accumsan cursus dui,
                    sodales blan sodales vitae. Maece placerat eget mi vitae euismod. Du aliquam efficitur mi, et eleifend ye
                </p>
                <p class="about-text-w3l col-md-6">
                    Pellentesque accumsan cursus dui, sodales blandit urna sodal vitaepel entesque accumsan cursus dui,sod les blandit urna
                    urna sodales vitae Pellentesque accumsan cursus dui, sodales blan urna sodales vitae pellentesque accumsan cursus dui,
                    sodales blan sodales vitae. Maece placerat eget mi vitae euismod. Du aliquam efficitur mi, et eleifend.
                </p>
                <div class="clearfix"></div>
            </div>
            <div class="w3ls-about-right col-md-6">
                <img class="img-responsive" src="~/Assets/Images/2.jpg" alt="about-image" />
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="text-center agileinfo-about-grid">
            <div class="col-md-4 col-xs-6 w3ls-about-grid">
                <span class="fa fa-picture-o" aria-hidden="true"></span>
                <h6>Portrait photoshoot</h6>
                <p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores alias</p>
            </div>
            <div class="col-md-4 col-xs-6 w3ls-about-grid about-2">
                <span class="fa fa-heart" aria-hidden="true"></span>
                <h6>Wedding photography</h6>
                <p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores alias</p>
            </div>
            <div class="col-md-4 col-xs-6 w3ls-about-grid">
                <span class="fa fa-car" aria-hidden="true"></span>
                <h6>Travel photography</h6>
                <p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores alias</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //about -->