<!-- stats -->
<div class="stats">
    <div class="container">
        <div class="stats-info">
            <div class="col-md-3 col-sm-3 stats-grid">
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='2000' data-delay='.5' data-increment="1">1200</div>
                <h4 class="stats-info">finished projects</h4>
            </div>
            <div class="col-md-3 col-sm-3 stats-grid">
                <i class="fa fa-smile-o" aria-hidden="true"></i>
                <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='1900' data-delay='.5' data-increment="1">3000</div>
                <h4 class="stats-info">happy clients</h4>
            </div>
            <div class="col-md-3 col-sm-3 stats-grid">
                <i class="fa fa-building" aria-hidden="true"></i>
                <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='113' data-delay='.5' data-increment="10">9000</div>
                <h4 class="stats-info">branches</h4>
            </div>
            <div class="col-md-3 col-sm-3 stats-grid">
                <i class="fa fa-book" aria-hidden="true"></i>
                <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='169' data-delay='.5' data-increment="1">169</div>
                <h4 class="stats-info">working hours</h4>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //stats -->