<!-- testimonials -->
<div class="testimonials w3ls-section">
    <div class="container">
        <h3 class="agileits-title">testimonials</h3>
        <div class="w3_testimonials_grids">
            <section class="slider">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <div class="w3_testimonials_grid">
                                <div class="testimonial-left">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </div>
                                <p>
                                    Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod possimus, omnis
                                    voluptas.
                                </p>
                                <h5>John Frank</h5>
                            </div>
                        </li>
                        <li>
                            <div class="w3_testimonials_grid">
                                <div class="testimonial-left">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </div>
                                <p>
                                    Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod possimus, omnis
                                    voluptas.
                                </p>
                                <h5>Michael Doe</h5>
                            </div>
                        </li>
                        <li>
                            <div class="w3_testimonials_grid">
                                <div class="testimonial-left">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </div>
                                <p>
                                    Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod possimus, omnis
                                    voluptas.
                                </p>
                                <h5>Thomas Carl</h5>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>

        </div>
    </div>
</div>
<!-- //Testimonials -->
