<!-- contact -->
<div class="w3ls-section contact">
    <div class="container">
        <div class="w3ls-title">
            <h3 class="agileits-title">get in touch</h3>
        </div>
        @Html.Partial("Gmap", "Contact")
        @Html.Action("ContactAjax", "Contact");
    </div>
</div>
<!-- //contact -->